form.weatherSearch input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.weatherSearch button {
  float: left;
  width: 20%;
  padding: 12px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.weatherSearch button:hover {
  background: #0b7dda;
}

form.weatherSearch::after {
  content: "";
  clear: both;
  display: table;
}

.uvIndex {
  background-color: red;
  width: 30px;
}

.weatherHistory {
  width: 100%;
  padding: 0px;
 
}

.weatherSummary{
  background-color:lightgray
}

.weatherItem {
  width: 100%;
}

.Header {
  display: block;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 30px;
}

.search{
  background:lightgray
}

.uvLow{
  background-color:green
}

.uvModerate{
  background-color:yellow
}

.uvHigh{
  background-color:red
}


